<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css" integrity="sha512-qo+sT1Z/NWobWaKtwRo8vtyuS7uz9LEEA/Ng/zsiZL5xV3z0gZ1BsDOXODhkNrl7egZ4WeNqeyYtOTGkq75tA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap">
  <style>
    body {
      background-image: url("https://img.freepik.com/free-photo/ready-back-school_1134-12.jpg?w=1060&t=st=1690844392~exp=1690844992~hmac=06b4e93ee1e40e154fc5a499466031cb960616f31496049687959a29bb825deb");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      font-family: 'Bubblegum Sans', sans-serif; 
    }
  </style>
  <title>Your Page Title</title>
</head>
<body>
  <div class="container">
    <div class="has-text-centered">
      <h2 class="title is-3">{{name}}</h2>
      <p>🍎</p>
      <p>{{description}}</p>
      <p>Course Title {{courseTitle}}</p>
      <p>Created by {{user.name}} on {{format_date date_created}}</p>
      <p>
        <a class="button is-primary" href="/profile">Back</a>
      </p>
    </div>
  </div>
</body>
</html>
